* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  background: linear-gradient(149deg, rgba(252,147,152,1) 0%, rgba(253,230,59,1) 31%, rgba(21,243,252,1) 100%)
}
